# Wanted_insight_data_handle

In [82]:
import pandas as pd
import re
import numpy as np

In [22]:
data = pd.read_csv('./.gitignore/wanted_insight_data.csv', index_col= 0 )

       기업명                   업종분류  사원수            설립연도          매출액
0        젭  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   2년 (2022년 설립)           -원
0   서커스컴퍼니  시스템ㆍ응용 소프트웨어 개발 및 공급업  13명  11년 (2013년 설립)   22억2,380만원
0      블로코  시스템ㆍ응용 소프트웨어 개발 및 공급업  26명   9년 (2015년 설립)   22억1,128만원
0      피매치     자연과학 및 공학 융합 연구개발업  NaN   3년 (2021년 설립)           -원
0    만나플래닛  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   8년 (2016년 설립)  123억8,113만원
..     ...                    ...  ...             ...          ...
0      인센드  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   1년 (2023년 설립)           -원
0      큐픽스    의약품, 의료용품 및 화장품 도매업  NaN   7년 (2017년 설립)           -원
0      엔비티      세제, 화장품 및 광택제 제조업   6명   8년 (2016년 설립)   14억5,461만원
0      퍼니지           경비 및 경호 서비스업   6명  12년 (2012년 설립)           -원
0   아이오바이오             자연과학 연구개발업  37명  13년 (2011년 설립)   10억3,744만원

[1811 rows x 5 columns]

In [23]:
data.loc[data.업종분류 == '-', '업종분류'] = None

In [24]:
data.설립연도.unique()

array(['2년 (2022년 설립)', '11년 (2013년 설립)', '9년 (2015년 설립)',
       '3년 (2021년 설립)', '8년 (2016년 설립)', '10년 (2014년 설립)',
       '17년 (2007년 설립)', '13년 (2011년 설립)', '1년 (2023년 설립)',
       '4년 (2020년 설립)', '6년 (2018년 설립)', '7년 (2017년 설립)', '5년 (2019년 설립)',
       '23년 (2001년 설립)', '14년 (2010년 설립)', '26년 (1998년 설립)',
       '29년 (1995년 설립)', '12년 (2012년 설립)', '28년 (1996년 설립)',
       '20년 (2004년 설립)', '21년 (2003년 설립)', '24년 (2000년 설립)',
       '18년 (2006년 설립)', '16년 (2008년 설립)', '19년 (2005년 설립)',
       '25년 (1999년 설립)', '15년 (2009년 설립)', '30년 (1994년 설립)',
       '31년 (1993년 설립)'], dtype=object)

In [25]:
data.설립연도 = data.설립연도.apply(lambda x: int(''.join(re.findall('(\d\d\d\d)', x))))

In [26]:
data.loc[data.매출액 == '-원', '매출액'] = None
data

       기업명                   업종분류  사원수  설립연도          매출액
0        젭  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN  2022         None
0   서커스컴퍼니  시스템ㆍ응용 소프트웨어 개발 및 공급업  13명  2013   22억2,380만원
0      블로코  시스템ㆍ응용 소프트웨어 개발 및 공급업  26명  2015   22억1,128만원
0      피매치     자연과학 및 공학 융합 연구개발업  NaN  2021         None
0    만나플래닛  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN  2016  123억8,113만원
..     ...                    ...  ...   ...          ...
0      인센드  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN  2023         None
0      큐픽스    의약품, 의료용품 및 화장품 도매업  NaN  2017         None
0      엔비티      세제, 화장품 및 광택제 제조업   6명  2016   14억5,461만원
0      퍼니지           경비 및 경호 서비스업   6명  2012         None
0   아이오바이오             자연과학 연구개발업  37명  2011   10억3,744만원

[1811 rows x 5 columns]

In [27]:
data.isna().sum()

기업명       0
업종분류     28
사원수     319
설립연도      0
매출액     733
dtype: int64

In [28]:
data.duplicated().sum()

1343

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1811 entries, 0 to 0
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기업명     1811 non-null   object
 1   업종분류    1783 non-null   object
 2   사원수     1492 non-null   object
 3   설립연도    1811 non-null   int64
 4   매출액     1078 non-null   object
dtypes: int64(1), object(4)
memory usage: 84.9+ KB

In [30]:
data = data.drop_duplicates()

In [31]:
data.duplicated().sum()

0

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 468 entries, 0 to 0
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기업명     468 non-null    object
 1   업종분류    463 non-null    object
 2   사원수     375 non-null    object
 3   설립연도    468 non-null    int64
 4   매출액     244 non-null    object
dtypes: int64(1), object(4)
memory usage: 21.9+ KB

In [47]:
data['매출액'].isna().sum()

224

In [45]:
data_sales = []

for q in data['매출액']:
    if q != None:
        data_sales.append(q.replace(',',''))
    else:
        data_sales.append(None)

In [55]:
data_sales_res = []
try:
    for q in data_sales:
        if q != None: 
            if '조' in q:
                    data_sales_res.append(int(''.join(re.findall(r'(\d+)조', q)))*100000000 + int(''.join(re.findall(r'(\d+)억', q)))*10000 + int(''.join(re.findall(r'억(\d+)', q))))
            elif '억원' in q:
                 data_sales_res.append(int(''.join(re.findall(r'(\d+)억원', q)))*10000)
            elif '억' in q:
               data_sales_res.append(int(''.join(re.findall(r'(\d+)억', q)))*10000 + int(''.join(re.findall(r'억(\d+)', q))))   
            else:
                data_sales_res.append(int(''.join(re.findall(r'(\d+)만원', q))))
        else:
            data_sales_res.append(None)
except:
     print(q)

In [58]:
data['매출액'] = data_sales_res

C:\Users\user\AppData\Local\Temp\ipykernel_50204\193892315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['매출액'] = data_sales_res

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 468 entries, 0 to 0
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기업명     468 non-null    object
 1   업종분류    463 non-null    object
 2   사원수     375 non-null    object
 3   설립연도    468 non-null    int64
 4   매출액     244 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 21.9+ KB

In [69]:
data.to_csv('2시 13분 중간 백업.csv')

In [72]:
data1 = pd.read_csv('2시 13분 중간 백업.csv', index_col=0)

In [73]:
data1

          기업명                        업종분류  사원수  설립연도        매출액
0           젭       시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN  2022        NaN
0      서커스컴퍼니       시스템ㆍ응용 소프트웨어 개발 및 공급업  13명  2013   222380.0
0         블로코       시스템ㆍ응용 소프트웨어 개발 및 공급업  26명  2015   221128.0
0         피매치          자연과학 및 공학 융합 연구개발업  NaN  2021        NaN
0       만나플래닛       시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN  2016  1238113.0
..        ...                         ...  ...   ...        ...
0        일만백만       시스템ㆍ응용 소프트웨어 개발 및 공급업  13명  2022        NaN
0      로위랩코리아      영화, 비디오물 및 방송 프로그램 제작업  18명  2021        NaN
0   퀀티파이드이에스지       시스템ㆍ응용 소프트웨어 개발 및 공급업  16명  2019        NaN
0        라온메디  의약품, 의료용 기구, 화장품 및 방향제 소매업   5명  2014        NaN
0         퍼니지                경비 및 경호 서비스업   6명  2012        NaN

[468 rows x 5 columns]

In [74]:
data1.loc[data1.사원수 == '정보없음', '사원수'] = None
data1.loc[data1.사원수 == 'nan', '사원수'] = None
#.apply(lambda x: int(''.join(re.findall('\d', x))))

In [84]:
data_emp = []

for f in data1['사원수']:
    if pd.notna(f):
        data_emp.append(int(''.join(re.findall('\d', f))))
    else:
        data_emp.append(None)

In [87]:
data1.사원수 = data_emp

In [90]:
data1.to_csv('wanted_insight_handle.csv')

# Dart_data_handle

In [98]:
data_1 = pd.read_csv('./.gitignore/wanted_dart_data.csv', index_col=0)

In [99]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, 0 to 0
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기업명        397 non-null    object
 1   주소         397 non-null    object
 2   업종분류       397 non-null    object
 3   설립연도       397 non-null    object
 4   기업홈페이지URL  242 non-null    object
dtypes: object(5)
memory usage: 18.6+ KB

In [100]:
data_1.설립연도 = data_1.설립연도.apply(lambda x: ''.join(re.findall('\d\d\d\d', x)))

In [101]:
data_1.drop_duplicates(inplace=True)

In [102]:
data_1.주소 = data_1.주소.apply(lambda x: ' '.join(re.findall(r'\b(\w+[구시도])\b', x)))

In [104]:
data_1.주소.unique()

array(['서울특별시 구로구', '서울특별시 강남구', '서울특별시 성동구', '서울특별시 금천구', '경기도 수원시 영통구',
       '서울특별시 용산구', '서울특별시 서초구', '인천광역시 남동구', '경기도 성남시 분당구', '경상북도 구미시',
       '전라남도 목포시', '경기도 안양시 동안구', '경기도 군포시', '서울특별시 마포구', '서울특별시 도봉구',
       '서울특별시 송파구', '서울특별시 관악구', '서울특별시 중구', '서울특별시 영등포구', '경기도 성남시 중원구',
       '서울특별시 종로구', '서울특별시 강동구', '경기도 성남시 수정구', '경기도 용인시', '경기도 안양시 만안구',
       '경상남도 진주시', '인천광역시 서구', '서울특별시 동대문구', '대구광역시 수성구', '서울특별시 강서구',
       '경기도 용인시 기흥구', '충청남도 천안시 서북구', '서울시 강남구', '경기도 시흥시', '충청남도 아산시',
       '부산광역시 해운대구'], dtype=object)

In [109]:
data_1.to_csv('wanted_dart_handle.csv')

# Catch_data_handle

# Wanted_data_handling

In [124]:
data_2 = pd.read_csv('./.gitignore/wanted_data.csv', index_col=0)
data_2.head(8)

,기업명,주소,직무,자격요건,직급,이용하는기술스택/우대사항,해당 페이지 URL
0,젭(zep),서울특별시 강남구 강남대로94길 10 케이스퀘어 8층,소프트웨어 엔지니어,"하나이상의프로그래밍언어를다룰수있는분•새로운지식,기술에대한관심과열정이있으신분•협업과커...",경력 3-10년,"• 멀티 쓰레드와 분할 서버 환경을 이해하시는 분, • 웹소켓 서버에 대한 이해가 ...",https://www.wanted.co.kr/wd/180861
1,서커스컴퍼니,서울시 강남구 논현동 87-3 우신논현빌딩 3층,소프트웨어 엔지니어,"나이/성별/학력/전공무관, 3년이상의웹어플리케이션개발,운영경험, Node,.Net...",신입-경력 8년,"- 품질 좋은 소프트웨어 개발을 위해 지속적으로 노력해오신 분, - 객체지향 개발 ...",https://www.wanted.co.kr/wd/207284
2,블로코(blocko),"경기도 성남시 분당구 성남대로 331번길 9-13, 3층(정자동, 이현빌딩)",소프트웨어 엔지니어,"Golang개발경력2년이상, 대용량데이터,쓰레드프로그래밍에익숙한분",경력 2-10년,"• 블록체인 관련 개발 경험, • 블록체인 스마트 컨트랙트 개발 경험, • 타 언어...",https://www.wanted.co.kr/wd/206690
3,피매치,마포구 마포대로 122 프론트원 13층,소프트웨어 엔지니어,경력:동종업(AI서비스개발/운영)2년이상또는그에준하는역량을가지신분•대용량데이터활용이...,경력 2-5년,"• 헬스케어 분야에서의 경험이 있으신 분, • 자연어 생성 모델(LLM) 관련 경험...",https://www.wanted.co.kr/wd/186806
4,만나플래닛,"서울시 구로구 경인로661, 101동 15층",소프트웨어 엔지니어,5년이상JAVA개발경험을가지신분ㆍ팀원들과원할한커뮤니케이션이가능하신분ㆍ스스로할일을정하...,경력 5-10년,"ㆍRest API를 이해하고 API를 개발할 수 있는 분, ㆍGit, redmine...",https://www.wanted.co.kr/wd/206244
5,패스트레인(여신티켓),강남구 테헤란로 423 현대타워 10층,소프트웨어 엔지니어,iOS네이티브앱개발3년이상의개발경험이있으신분•iOS네이티브앱프로젝트시작과배포까지싸이...,경력 3-7년,"• RESTful API에 대한 이해를 갖추신 분 , • 다양한 아키텍쳐 및 코드...",https://www.wanted.co.kr/wd/179720
6,미트박스글로벌,"서울 강남구 테헤란로34길 22, 미트박스글로벌빌딩",소프트웨어 엔지니어,"CloudInfra(aws,gcp,azure,ncp등)사용/구축경험•helmchar...",경력 2-7년,"• 컨테이너, 쿠버네티스 빌드 배포 구축 경험, • CI/CD 시스템 활용 및 구축...",https://www.wanted.co.kr/wd/202156
7,로지스팟,"서초구 사임당로 174, 13층(서초동,강남미래타워) 로지스팟",소프트웨어 엔지니어,4년대졸자및ComputerScience관련전공자•10년이상프로덕트리더십역할경험•뛰어...,경력 10-20년,"• 공급망, 물류산업 경험 및 이해도, • SaaS 및 플랫폼 서비스 경험",https://www.wanted.co.kr/wd/205962

In [114]:
data_2.직급.unique()

array(['경력 3-10년', '신입-경력 8년', '경력 2-10년', '경력 2-5년', '경력 5-10년',
       '경력 3-7년', '경력 2-7년', '경력 10-20년', '경력 5-15년', '경력 7-15년',
       '경력 10-15년', '신입-경력 20년', '경력 5-9년', '경력 4-10년', '경력 1-10년',
       '경력 2-4년', '경력 1-3년', '경력 10-25년', '경력 7-20년', '경력 8-15년',
       '경력 3-6년', '경력 6-9년', '경력 3-5년', '경력 7-10년', '경력 4-15년', '경력 5-8년',
       '경력 5-12년', '경력 1-5년', '경력 6-15년', '경력 5-7년', '신입-경력 2년',
       '경력 4-8년', '경력 2-9년', '경력 8-20년', '신입', '신입-경력 10년', '경력 3-30년',
       '경력 5-30년', '경력 1-15년', '경력 3-9년', '경력 5-20년', '경력 7-12년',
       '신입-경력 5년', '경력 3-15년', '경력 6-10년', '경력 3-20년', '경력 10-30년',
       '경력 2-20년', '경력 7-30년', '경력 3-12년', '경력 4-9년', '경력 2-12년',
       '경력 2-8년', '경력 3-4년', '경력 2-6년', '경력 1-20년', '신입-경력 7년', '경력 2-3년',
       '신입-경력 3년', '경력 1-7년', '경력 2-15년', '경력 3-18년', '경력 4-7년',
       '경력 2-14년', '경력 3-8년', '경력 5-6년', '경력 7-9년', '경력 5-11년',
       '경력 10-14년', '경력 7-11년', '경력 4-6년', '경력 7-17년', '경력 8-10년',
       '경력 9-12년', '경력 4-5년', '경력 1-2년', '신입-경력 15년', '경력 8-14년',
       '경력 5-14년', '경력 9-20년', '경력 7-14년', '경력 1-4년', '경력 7-35년',
       '경력 2-2년', '경력 3-11년', '신입-경력 12년', '경력 3-25년', '경력 4-12년',
       '경력 1-6년', '경력 5-25년', '경력 8-12년', '경력 10-17년', '경력 1-8년',
       '경력 7-18년'], dtype=object)

In [118]:
new_career = []

for z in data_2.직급.apply(lambda x: x.split('-')[0]):
    if z == '신입':
        new_career.append(0)
    else:
        new_career.append(int(''.join(re.findall('\d', z))))

In [125]:
data_2.직급 = new_career

In [129]:
data_2.to_csv('wanted_data.csv')

In [130]:
data_2

,기업명,주소,직무,자격요건,직급,이용하는기술스택/우대사항,해당 페이지 URL
0,젭(zep),서울특별시 강남구 강남대로94길 10 케이스퀘어 8층,소프트웨어 엔지니어,"하나이상의프로그래밍언어를다룰수있는분•새로운지식,기술에대한관심과열정이있으신분•협업과커...",3,"• 멀티 쓰레드와 분할 서버 환경을 이해하시는 분, • 웹소켓 서버에 대한 이해가 ...",https://www.wanted.co.kr/wd/180861
1,서커스컴퍼니,서울시 강남구 논현동 87-3 우신논현빌딩 3층,소프트웨어 엔지니어,"나이/성별/학력/전공무관, 3년이상의웹어플리케이션개발,운영경험, Node,.Net...",0,"- 품질 좋은 소프트웨어 개발을 위해 지속적으로 노력해오신 분, - 객체지향 개발 ...",https://www.wanted.co.kr/wd/207284
2,블로코(blocko),"경기도 성남시 분당구 성남대로 331번길 9-13, 3층(정자동, 이현빌딩)",소프트웨어 엔지니어,"Golang개발경력2년이상, 대용량데이터,쓰레드프로그래밍에익숙한분",2,"• 블록체인 관련 개발 경험, • 블록체인 스마트 컨트랙트 개발 경험, • 타 언어...",https://www.wanted.co.kr/wd/206690
3,피매치,마포구 마포대로 122 프론트원 13층,소프트웨어 엔지니어,경력:동종업(AI서비스개발/운영)2년이상또는그에준하는역량을가지신분•대용량데이터활용이...,2,"• 헬스케어 분야에서의 경험이 있으신 분, • 자연어 생성 모델(LLM) 관련 경험...",https://www.wanted.co.kr/wd/186806
4,만나플래닛,"서울시 구로구 경인로661, 101동 15층",소프트웨어 엔지니어,5년이상JAVA개발경험을가지신분ㆍ팀원들과원할한커뮤니케이션이가능하신분ㆍ스스로할일을정하...,5,"ㆍRest API를 이해하고 API를 개발할 수 있는 분, ㆍGit, redmine...",https://www.wanted.co.kr/wd/206244
...,...,...,...,...,...,...,...
1957,인센드,경기도 성남시 분당구 황새울로319번길 6 410호,BI 엔지니어,"경력8년이상•창의성,협동심,도전정신중간에포기하지않는개발자와같이하고싶습니다.",8,"• 개발 및 인력에 대한 리더쉽 소유하신분 , • Full Stack 능력을 가지신분",https://www.wanted.co.kr/wd/195532
1958,큐픽스,"경기 성남시 분당구 대왕판교로 670, 유스페이스2 B동 605호",루비온레일즈 개발자,석사학위이상의2년이상경력자(혹은이에준하는실력보유자)•전문연구요원(병역특례)신입/전직...,2,• Amazon Web Services 등 클라우드 환경에서 Terraform 등의...,https://www.wanted.co.kr/wd/207738
1959,엔비티(NBT),"서울특별시 서초구 서초대로38길 12, 마제스타시티 타워1 14층",루비온레일즈 개발자,"백엔드개발,운영실무6년이상또는그에준하는역량을보유하신분•RESTfulAPI에대한경험및...",6,"• 모바일 광고, 특히 AdTech에 대한 경험이 있으신 분, • Ruby on R...",https://www.wanted.co.kr/wd/177555
1960,퍼니지,서울 성동구 연무장5가길 25 성수역 SK V1 Tower,루비온레일즈 개발자,"학력:무관•경력:백엔드개발3년이상(django,Nest.js,기타백엔드프레임워크)•...",3,"• Ruby on Rails 프로젝트 유경험자, • 앱 서비스를 개발/운영해보신 분",https://www.wanted.co.kr/wd/207959
1961,아이오바이오,서울시 강남구 테헤란로4길 38,"CIO,Chief Information Officer","이런분과함께하고싶어요.""•디바이스부터플랫폼까지관련경력10년이상보유자로조직리딩유경험자...",10,"""이런 경험이 있으시면 더 좋아요."", , • 국내외 소프트웨어 의료기기에 대한 규...",https://www.wanted.co.kr/wd/184039

In [1]:
# 불용어
from konlpy.tag import Kkma
from konlpy.utils import pprint
from konlpy import tag
# 워드클라우드
import os
from os import path
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [2]:
kkma = Kkma()

In [4]:
# abc = ''
# for b in data_2['이용하는기술스택/우대사항']:
    # abc += ''.join(re.sub('[^a-zA-Z]', ' ', b))
# abc = ' '.join(abc.split())

NameError: name 'data_2' is not defined

In [8]:
tec_word = ''

for j in data_2['이용하는기술스택/우대사항']:
    tec_word += ' '.join(kkma.nouns(j.replace('ㆍ','')))
tec_word

NameError: name 'data_2' is not defined

In [7]:
tec_abc = tec_word

stop_words ='''등 사용 분 환경 가능 x X 다양 년이상 테스트 이해 수 기반 장애 테스트 가능 경험 이해 분 환경 이해 관심 처리 엔드 년 녀 백 업 보유 기술 실무 백 보 신 배포 언어 개선 이용 활용 보신 성능 간 업무 베이스 지식 고민 ㄴ 오픈오픈 소스소스 적인 도구 참여 레 이상 플 코드 작성 관련 본인 유지 사항 검색 서비스 o ㅇ 수행 마이크로 초기  경험자  케이션  우대사항  1 개 리 2 강 기 거시 외부 가 고가 4 스크 하 어 처음 대용량 애 큐 효율 즐거움 새 이 만 마 로 in 밖 제로 유 배 포 십 핀 학위 공유 니스 인정 강점 활 용해 폼 인 줄 ㅁ 오픈 워크 그 션  오 스트 탑 ㄹ 서 3 계 i me my myself we our ours ourselves you you're you've you'll you'd your yours yourself yourselves he him his himself she she's her hers herself it it's its itself they them their theirs themselves what which who whom this that that'll these those am is are was were be been being have has had having do does did doing a an the and but if or because as until while of at by for with about against between into through during before after above below to from up down in out on off over under again further then once here there when where why how all any both each few more most other some such no nor not only own same so than too very s t can will just 아 휴 아이구 아이쿠 아이고 어 나 우리 저희 따라 의해 을 를 에 의 가 으로 로 에게 뿐이다 의거하여 근거하여 입각하여 기준으로 예하면 예를 들면 예를 들자면 저 소인 소생 저희 지말고 하지마 하지마라 다른 물론 또한 그리고 비길수 없다 해서는 안된다 뿐만 아니라 만이 아니다 만은 아니다 막론하고 관계없이 그치지 않다 그러나 그런데 하지만 든간에 논하지 않다 따지지 않다 설사 비록 더라도 아니면 만 못하다 하는 편이 낫다 불문하고 향하여 향해서 향하다 쪽으로 틈타 이용하여 타다 오르다 제외하고 이 외에 이 밖에 하여야 비로소 한다면 몰라도 외에도 이곳 여기 부터 기점으로 따라서 할 생각이다 하려고하다 이리하여 그리하여 그렇게 함으로써 하지만 일때 할때 앞에서 중에서 보는데서 으로써 로써 까지 해야한다 일것이다 반드시 할줄알다 할수있다 할수있어 임에 틀림없다 한다면 등 등등 제 겨우 단지 다만 할뿐 딩동 댕그 대해서 대하여 대하면 훨씬 얼마나 얼마만큼 얼마큼 남짓 여 얼마간 약간 다소 좀 조금 다수 몇 얼마 지만 하물며 또한 그러나 그렇지만 하지만 이외에도 대해 말하자면 뿐이다 다음에 반대로 반대로 말하자면 이와 반대로 바꾸어서 말하면 바꾸어서 한다면 만약 그렇지않으면 까악 툭 딱 삐걱거리다 보드득 비걱거리다 꽈당 응당 해야한다 에 가서 각 각각 여러분 각종 각자 제각기 하도록하다 와 과 그러므로 그래서 고로 한 까닭에 하기 때문에 거니와 이지만 대하여 관하여 관한 과연 실로 아니나다를가 생각한대로 진짜로 한적이있다 하곤하였다 하 하하 허허 아하 거바 와 오 왜 어째서 무엇때문에 어찌 하겠는가 무슨 어디 어느곳 더군다나 하물며 더욱이는 어느때 언제 야 이봐 어이 여보시오 흐흐 흥 휴 헉헉 헐떡헐떡 영차 여차 어기여차 끙끙 아야 앗 아야 콸콸 졸졸 좍좍 뚝뚝 주룩주룩 솨 우르르 그래도 또 그리고 바꾸어말하면 바꾸어말하자면 혹은 혹시 답다 및 그에 따르는 때가 되어 즉 지든지 설령 가령 하더라도 할지라도 일지라도 지든지 몇 거의 하마터면 인젠 이젠 된바에야 된이상 만큼 어찌됏든 그위에 게다가 점에서 보아 비추어 보아 고려하면 하게될것이다 일것이다 비교적 좀 보다더 비하면 시키다 하게하다 할만하다 의해서 연이서 이어서 잇따라 뒤따라 뒤이어 결국 의지하여 기대여 통하여 자마자 더욱더 불구하고 얼마든지 마음대로 주저하지 않고 곧 즉시 바로 당장 하자마자 밖에 안된다 하면된다 그래 그렇지 요컨대 다시 말하자면 바꿔 말하면 즉 구체적으로 말하자면 시작하여 시초에 이상 허 헉 허걱 바와같이 해도좋다 해도된다 게다가 더구나 하물며 와르르 팍 퍽 펄렁 동안 이래 하고있었다 이었다 에서 로부터 까지 예하면 했어요 해요 함께 같이 더불어 마저 마저도 양자 모두 습니다 가까스로 하려고하다 즈음하여 다른 다른 방면으로 해봐요 습니까 했어요 말할것도 없고 무릎쓰고 개의치않고 하는것만 못하다 하는것이 낫다 매 매번 들 모 어느것 어느 로써 갖고말하자면 어디 어느쪽 어느것 어느해 어느 년도 라 해도 언젠가 어떤것 어느것 저기 저쪽 저것 그때 그럼 그러면 요만한걸 그래 그때 저것만큼 그저 이르기까지 할 줄 안다 할 힘이 있다 너 너희 당신 어찌 설마 차라리 할지언정 할지라도 할망정 할지언정 구토하다 게우다 토하다 메쓰겁다 옆사람 퉤 쳇 의거하여 근거하여 의해 따라 힘입어 그 다음 버금 두번째로 기타 첫번째로 나머지는 그중에서 견지에서 형식으로 쓰여 입장에서 위해서 단지 의해되다 하도록시키다 뿐만아니라 반대로 전후 전자 앞의것 잠시 잠깐 하면서 그렇지만 다음에 그러한즉 그런즉 남들 아무거나 어찌하든지 같다 비슷하다 예컨대 이럴정도로 어떻게 만약 만일 위에서 서술한바와같이 인 듯하다 하지 않는다면 만약에 무엇 무슨 어느 어떤 아래윗 조차 한데 그럼에도 불구하고 여전히 심지어 까지도 조차도 하지 않도록 않기 위하여 때 시각 무렵 시간 동안 어때 어떠한 하여금 네 예 우선 누구 누가 알겠는가 아무도 줄은모른다 줄은 몰랏다 하는 김에 겸사겸사 하는바 그런 까닭에 한 이유는 그러니 그러니까 때문에 그 너희 그들 너희들 타인 것 것들 너 위하여 공동으로 동시에 하기 위하여 어찌하여 무엇때문에 붕붕 윙윙 나 우리 엉엉 휘익 윙윙 오호 아하 어쨋든 만 못하다 하기보다는 차라리 하는 편이 낫다 흐흐 놀라다 상대적으로 말하자면 마치 아니라면 쉿 그렇지 않으면 그렇지 않다면 안 그러면 아니었다면 하든지 아니면 이라면 좋아 알았어 하는것도 그만이다 어쩔수 없다 하나 일 일반적으로 일단 한켠으로는 오자마자 이렇게되면 이와같다면 전부 한마디 한항목 근거로 하기에 아울러 하지 않도록 않기 위해서 이르기까지 이 되다 로 인하여 까닭으로 이유만으로 이로 인하여 그래서 이 때문에 그러므로 그런 까닭에 알 수 있다 결론을 낼 수 있다 으로 인하여 있다 어떤것 관계가 있다 관련이 있다 연관되다 어떤것들 에 대해 이리하여 그리하여 여부 하기보다는 하느니 하면 할수록 운운 이러이러하다 하구나 하도다 다시말하면 다음으로 에 있다 에 달려 있다 우리 우리들 오히려 하기는한데 어떻게 어떻해 어찌됏어 어때 어째서 본대로 자 이 이쪽 여기 이것 이번 이렇게말하자면 이런 이러한 이와 같은 요만큼 요만한 것 얼마 안 되는 것 이만큼 이 정도의 이렇게 많은 것 이와 같다 이때 이렇구나 것과 같이 끼익 삐걱 따위 와 같은 사람들 부류의 사람들 왜냐하면 중의하나 오직 오로지 에 한하다 하기만 하면 도착하다 까지 미치다 도달하다 정도에 이르다 할 지경이다 결과에 이르다 관해서는 여러분 하고 있다 한 후 혼자 자기 자기집 자신 우에 종합한것과같이 총적으로 보면 총적으로 말하면 총적으로 대로 하다 으로서 참 그만이다 할 따름이다 쿵 탕탕 쾅쾅 둥둥 봐 봐라 아이야 아니 와아 응 아이 참나 년 월 일 령 영 일 이 삼 사 오 육 륙 칠 팔 구 이천육 이천칠 이천팔 이천구 하나 둘 셋 넷 다섯 여섯 일곱 여덟 아홉 령 영 이 있 하 것 들 그 되 수 이 보 않 없 나 사람 주 아니 등 같 우리 때 년 가 한 지 대하 오 말 일 그렇 위하 때문 그것 두 말하 알 그러나 받 못하 일 그런 또 문제 더 사회 많 그리고 좋 크 따르 중 나오 가지 씨 시키 만들 지금 생각하 그러 속 하나 집 살 모르 적 월 데 자신 안 어떤 내 내 경우 명 생각 시간 그녀 다시 이런 앞 보이 번 나 다른 어떻 여자 개 전 들 사실 이렇 점 싶 말 정도 좀 원 잘 통하 놓 don don't should should've now d ll m o re ve y ain aren aren't couldn couldn't didn didn't doesn doesn't hadn hadn't hasn hasn't haven haven't isn isn't ma mightn mightn't mustn mustn't needn needn't shan shan't shouldn shouldn't wasn wasn't weren weren't won won't wouldn wouldn't 키 5 군 보여 주실 S Private Service Multi SAFE in trouble shooting code degree performancd and v d D end B writing I F Safety'''

stop_words = set(stop_words.split(' '))
word_tokens = kkma.morphs(tec_abc)

result = [word for word in word_tokens if not word in stop_words]

print('불용어 제거 전 :',word_tokens) 
print('불용어 제거 후 :',result)

불용어 제거 전 : []
불용어 제거 후 : []

# wanted_incruit_data_handle

In [15]:
import pandas as pd
import numpy as np 
import re

In [6]:
df = pd.read_csv('./.gitignore/wanted_incruit_data.csv', index_col=0)
df

,기업명,설립연도,매출액,사원수,업종분류,기업규모,주소,기업 홈페이지 URL
0,서커스컴퍼니,2012년 11월 20일,17억 563만원 (2022),20 명 재직중,소프트웨어·솔루션·ASP,중소기업,"서울특별시 강남구 학동로82길 7 (삼성동,HYUN빌딩) 2층지도보기",//www.circusar.com/
1,만나플래닛,2016년 4월 20일,"141억 9,493만원 (2022)",134 명 재직중,소프트웨어·솔루션·ASP,중소기업,"서울특별시 구로구 경인로 661 104동 905호 (신도림동,신도림1차푸르지오)지도보기",//www.manna-planet.com
2,미트박스글로벌,2014년 5월 19일,"552억 1,702만원 (2022)",69 명 재직중,쇼핑몰·전자상거래·오픈마켓,중소기업,경기 성남시 분당구 삼평동 판교우림더블유시티 703호 .지도보기,//www.meatbox.co.kr
3,마크비전코리아,2019년 12월 12일,-,100 명 재직중,소프트웨어·솔루션·ASP,중소기업,"서울특별시 강남구 테헤란로 427 6층 (삼성동,위워크타워)지도보기",//www.marqvision.com
4,위시빈,2018년 2월 23일,749만원 (2022),20 명 재직중,인터넷·포털·컨텐츠·게임,중소기업,"서울특별시 중구 남대문로7길 16 (소공동,소공 한국빌딩) 5층지도보기",//www.wishbeen.co.kr/
...,...,...,...,...,...,...,...,...
853,월급쟁이부자들,2018년 3월 27일,"239억 9,393만원 (2022)",-,교육기관,중소기업,서울특별시 강남구 역삼1동 834-8번지 2층지도보기,//cafe.naver.com/wecando7
854,더블유클럽,2021년 2월 22일,"42억 1,616만원 (2022)",10 명 재직중,소프트웨어·솔루션·ASP,중소기업,NaN,NaN
855,무신사,2012년 6월 25일,"6,451억 6,211만원 (2022)","1,354 명 재직중",언론·출판·신문·잡지,중견기업,"서울특별시 성동구 아차산로 38 (성수동1가,개풍빌딩)지도보기",//www.musinsa.com
856,큐픽스,2015년 8월 19일,28억 419만원 (2022),59 명 재직중,소프트웨어·솔루션·ASP,중소기업,"경기도 성남시 분당구 대왕판교로 670 B동 605호 (삼평동,유스페이스2)지도보기",//www.cupix.com
857,아이오바이오,2011년 8월 9일,"11억 9,139만원 (2022)",34 명 재직중,의료·정밀·시계·광학기기,중소기업,"서울특별시 강남구 테헤란로4길 38 8층 801호 (역삼동,태영빌딩)지도보기",//www.aiobio.co.kr

In [12]:
df.drop_duplicates(inplace=True)

In [23]:
corp_year_df = []
try:
    for ss in df.설립연도:
        if ss != '-':
            corp_year_df.append(int(''.join(re.findall('\d\d\d\d', ss))))
        else:
            corp_year_df.append(None)
except:
    print(ss)

In [25]:
df.설립연도 = corp_year_df

In [27]:
df.매출액.unique()

array(['17억 563만원 (2022)', '141억 9,493만원 (2022)', '552억 1,702만원 (2022)',
       '-', '749만원 (2022)', '22억 7,876만원 (2022)', '7억 5,094만원 (2022)',
       '8,338만원 (2022)', '89억 6,636만원 (2022)', '5,598억 1,354만원 (2022)',
       '200억 5,269만원 (2022)', '7억 2,108만원 (2022)', '2억 100만원 (2022)',
       '260억 67만원 (2022)', '22억 3,434만원 (2022)', '15억 5,433만원 (2022)',
       '4억 5,000만원 (2023)', '42억 1,616만원 (2022)', '3억 8,010만원 (2022)',
       '13억 2,825만원 (2022)', '2,014만원 (2022)', '108억 3,359만원 (2022)',
       '16억 8,494만원 (2021)', '5억 3,672만원 (2015)', '11억 9,989만원 (2022)',
       '1조 7,677억 7,581만원 (2022)', '6억 7,717만원 (2022)',
       '6,451억 6,211만원 (2022)', '238억 9,148만원 (2022)',
       '491억 9,386만원 (2022)', '4,137만원 (2022)', '11억 315만원 (2022)',
       '2억 9,179만원 (2022)', '775억 4,550만원 (2021)', '3억 2,789만원 (2022)',
       '633억 887만원 (2022)', '2,349억 3,281만원 (2022)', '22억 373만원 (2022)',
       '271억 529만원 (2022)', '2억 2,833만원 (2022)', '7,000만원',
       '1조 4,207억 7,900만원 (2022)', '8억 6,807만원 (2022)',
       '239억 9,393만원 (2022)', '21억 1,525만원 (2022)', '12억 1,399만원 (2022)',
       '5,044만원 (2022)', '44억 2,277만원 (2022)', '83억 251만원 (2022)',
       '2억 1,873만원 (2022)', '2조 335억 9,450만원 (2022)',
       '132억 2,695만원 (2022)', '1억 7,697만원 (2022)', '29억 1,334만원 (2016)',
       '155억 8,548만원 (2022)', '35억 7,782만원 (2022)', '10억 6,862만원 (2022)',
       '74억 1,269만원 (2017)', '9억 1,254만원 (2023)', '2억 3,700만원 (2022)',
       '33억 2,945만원 (2021)', '2조 3,785억 9,546만원 (2022)',
       '141억 5,015만원 (2022)', '131억 5,544만원 (2022)', '2억 7,847만원 (2022)',
       '19억 4,214만원 (2022)', '36억 3,988만원 (2022)', '7억 3,111만원 (2022)',
       '28억 419만원 (2022)', '2억 9,825만원 (2022)', '25억 3,688만원 (2022)',
       '7,431만원 (2022)', '2억 8,352만원 (2014)', '6,358억 3,963만원 (2022)',
       '4억 9,345만원 (2022)', '32억 4,689만원 (2022)', '12억원 (2021)',
       '27억 7,768만원 (2022)', '1,800만원 (2022)', '46억 1,808만원 (2022)',
       '144억 7,035만원 (2022)', '7억 1,150만원 (2022)', '4억 7,556만원 (2021)',
       '99억 5,818만원 (2022)', '31억 9,302만원 (2022)', '1억 9,745만원 (2022)',
       '100억원 (2023)', '724억 7,373만원 (2022)', '12억 6,568만원 (2022)',
       '3,058억 7,906만원 (2022)', '330억 7,655만원 (2022)',
       '42억 5,800만원 (2022)', '9억 8,527만원 (2022)', '273억 2,202만원 (2022)',
       '94억 6,821만원 (2022)', '4억 5,777만원 (2020)', '24억 4,820만원 (2022)',
       '94억 1,437만원 (2018)', '5억 964만원 (2022)', '7,000만원 (2022)',
       '124억 5,305만원 (2022)', '90억 3,851만원 (2017)', '17억 3,940만원 (2022)',
       '51억 9,575만원 (2021)', '151억 1,737만원 (2022)', '17억 463만원 (2012)',
       '38억원 (2019)', '26억 5,000만원 (2021)', '33억 4,119만원 (2022)',
       '56억 6,522만원 (2022)', '2억 803만원 (2022)', '11억 5,730만원 (2022)',
       '477억 2,529만원 (2022)', '9억 5,198만원 (2022)', '33억 2,694만원 (2022)',
       '548억 3,127만원 (2022)', '2만원 (2022)', '102억 3,093만원 (2022)',
       '91억 3,477만원 (2022)', '120억원 (2022)', '106억 8,913만원 (2022)',
       '130억 4,004만원 (2022)', '535억 140만원 (2022)',
       '1,083억 7,397만원 (2022)', '114억원 (2021)', '6억 3,740만원 (2022)',
       '1조 236억 5,598만원 (2022)', '1억 4,189만원 (2022)',
       '194억 2,842만원 (2020)', '521억 8,559만원 (2022)', '2억 718만원 (2022)',
       '8억 8,179만원 (2022)', '3억 8,722만원 (2022)', '51억원 (2021)',
       '247억 2,629만원 (2022)', '8,040억 8,711만원 (2022)',
       '175억 7,695만원 (2022)', '8,891만원 (2022)', '2억 6,255만원 (2022)',
       '10억 2,751만원 (2022)', '1,101억 8,842만원 (2022)',
       '157억 7,370만원 (2022)', '43억 7,092만원 (2022)', '1,498만원 (2022)',
       '12억 9,961만원 (2022)', '499억 5,714만원 (2022)', '11억 9,139만원 (2022)',
       '258억 9,469만원 (2022)', '54억 5,996만원 (2022)', '42억 1,815만원 (2022)',
       '3조 262억 2,574만원 (2022)', '5억 1,564만원 (2019)',
       '734억 1,869만원 (2022)', '258억 6,867만원 (2022)', '21억 4,443만원 (2022)',
       '3억 6,900만원 (2022)', '8억 4,093만원 (2022)', '15억 8,421만원 (2022)'],
      dtype=object)

In [44]:
sales_data = []

for sales in df.매출액:
    if sales != '-':
        sales_data.append(sales.replace(',',''))
    else:
        sales_data.append(None)

In [55]:
sales_df = []
for qq in sales_data:
    if qq != None:
        sales_df.append(re.sub(r'\(\d{4}\)', '', qq.replace(' ','')))
    else:
        sales_df.append(None)
sales_df

['17억563만원',
 '141억9493만원',
 '552억1702만원',
 None,
 '749만원',
 '22억7876만원',
 '7억5094만원',
 '8338만원',
 '89억6636만원',
 '5598억1354만원',
 None,
 None,
 '200억5269만원',
 '7억2108만원',
 '2억100만원',
 '260억67만원',
 None,
 '22억3434만원',
 '15억5433만원',
 None,
 '4억5000만원',
 '42억1616만원',
 '3억8010만원',
 None,
 '13억2825만원',
 '2014만원',
 '108억3359만원',
 None,
 '16억8494만원',
 None,
 '5억3672만원',
 '11억9989만원',
 None,
 None,
 None,
 '1조7677억7581만원',
 '6억7717만원',
 None,
 None,
 '6451억6211만원',
 '238억9148만원',
 '491억9386만원',
 '4137만원',
 '11억315만원',
 '2억9179만원',
 '775억4550만원',
 '3억2789만원',
 '633억887만원',
 '2349억3281만원',
 '22억373만원',
 '271억529만원',
 '2억2833만원',
 '7000만원',
 '1조4207억7900만원',
 None,
 '8억6807만원',
 None,
 '239억9393만원',
 None,
 '21억1525만원',
 '12억1399만원',
 '5044만원',
 '44억2277만원',
 '83억251만원',
 None,
 '2억1873만원',
 None,
 '2조335억9450만원',
 '132억2695만원',
 '1억7697만원',
 '29억1334만원',
 '155억8548만원',
 '35억7782만원',
 '10억6862만원',
 '74억1269만원',
 '9억1254만원',
 None,
 '2억3700만원',
 '33억2945만원',
 None,
 '2조3785억9546만원',
 '141억5015만원',
 None,
 '131억5544만원',
 '2억7847만원',
 '19억4214만원',
 '36억3988만원',
 '7억3111만원',
 '28억419만원',
 '2억9825만원',
 '25억3688만원',
 '7431만원',
 '2억8352만원',
 '6358억3963만원',
 None,
 '4억9345만원',
 '32억4689만원',
 None,
 '12억원',
 None,
 None,
 None,
 '27억7768만원',
 '1800만원',
 '46억1808만원',
 None,
 '144억7035만원',
 '7억1150만원',
 '4억7556만원',
 '99억5818만원',
 '31억9302만원',
 '1억9745만원',
 None,
 None,
 '100억원',
 '724억7373만원',
 '12억6568만원',
 '3058억7906만원',
 None,
 '330억7655만원',
 '42억5800만원',
 '9억8527만원',
 '273억2202만원',
 '94억6821만원',
 '4억5777만원',
 '24억4820만원',
 '94억1437만원',
 '5억964만원',
 '7000만원',
 '124억5305만원',
 '90억3851만원',
 '17억3940만원',
 '51억9575만원',
 None,
 None,
 '151억1737만원',
 '17억463만원',
 None,
 None,
 None,
 '38억원',
 '26억5000만원',
 '33억4119만원',
 '56억6522만원',
 '2억803만원',
 None,
 None,
 None,
 '11억5730만원',
 '477억2529만원',
 '9억5198만원',
 '33억2694만원',
 '548억3127만원',
 '2만원',
 None,
 '102억3093만원',
 '91억3477만원',
 '120억원',
 '106억8913만원',
 '130억4004만원',
 None,
 '535억140만원',
 '1083억7397만원',
 '114억원',
 None,
 '6억3740만원',
 '1조236억5598만원',
 '1억4189만원',
 '194억2842만원',
 '521억8559만원',
 '2억718만원',
 '8억8179만원',
 '3억8722만원',
 '51억원',
 '247억2629만원',
 '8040억8711만원',
 None,
 None,
 '175억7695만원',
 '8891만원',
 '2억6255만원',
 '10억2751만원',
 '1101억8842만원',
 None,
 None,
 '157억7370만원',
 '43억7092만원',
 None,
 '1498만원',
 '12억9961만원',
 '499억5714만원',
 None,
 '11억9139만원',
 '258억9469만원',
 '54억5996만원',
 None,
 '42억1815만원',
 '3조262억2574만원',
 None,
 None,
 '5억1564만원',
 '734억1869만원',
 '258억6867만원',
 '21억4443만원',
 '3억6900만원',
 '8억4093만원',
 '15억8421만원']

In [56]:
data_sales_res = []
try:
    for q in sales_df:
        if q != None: 
            if '조' in q:
                    data_sales_res.append(int(''.join(re.findall(r'(\d+)조', q)))*100000000 + int(''.join(re.findall(r'(\d+)억', q)))*10000 + int(''.join(re.findall(r'억(\d+)', q))))
            elif '억원' in q:
                 data_sales_res.append(int(''.join(re.findall(r'(\d+)억원', q)))*10000)
            elif '억' in q:
               data_sales_res.append(int(''.join(re.findall(r'(\d+)억', q)))*10000 + int(''.join(re.findall(r'억(\d+)', q))))   
            else:
                data_sales_res.append(int(''.join(re.findall(r'(\d+)만원', q))))
        else:
            data_sales_res.append(None)
except:
     print(q)

In [58]:
df.매출액 = data_sales_res

In [68]:
df.사원수.unique()

array(['20 명 재직중', '134 명 재직중', '69 명 재직중', '100 명 재직중', '13 명 재직중',
       '19 명 재직중', '6 명 재직중', '80 명 재직중', '743 명 재직중', '-', '237 명 재직중',
       '5 명 재직중', '8 명 재직중', '415 명 재직중', '24 명 재직중', '16 명 재직중',
       '7 명 재직중', '10 명 재직중', '22 명 재직중', '11 명 재직중', '25 명 재직중',
       '29 명 재직중', '4 명 재직중', '30 명 재직중', '14 명 재직중', '44 명 재직중',
       '9 명 재직중', '1,766 명 재직중', '15 명 재직중', '2 명 재직중', '1,354 명 재직중',
       '111 명 재직중', '95 명 재직중', '47 명 재직중', '40 명 재직중', '86 명 재직중',
       '60 명 재직중', '142 명 재직중', '191 명 재직중', '783 명 재직중', '18 명 재직중',
       '23 명 재직중', '42 명 재직중', '1 명 재직중', '2,867 명 재직중', '85 명 재직중',
       '34 명 재직중', '87 명 재직중', '3 명 재직중', '55 명 재직중', '36 명 재직중',
       '6,962 명 재직중', '189 명 재직중', '457 명 재직중', '45 명 재직중', '59 명 재직중',
       '33 명 재직중', '1,694 명 재직중', '50 명 재직중', '12 명 재직중', '62 명 재직중',
       '71 명 재직중', '61 명 재직중', '35 명 재직중', '358 명 재직중', '571 명 재직중',
       '129 명 재직중', '133 명 재직중', '51 명 재직중', '65 명 재직중', '28 명 재직중',
       '48 명 재직중', '140 명 재직중', '780 명 재직중', '33 명 재직중 (헤드헌터 1 명)',
       '241 명 재직중', '132 명 재직중', '510 명 재직중', '2,240 명 재직중', '329 명 재직중',
       '1,441 명 재직중', '287 명 재직중', '54 명 재직중', '116 명 재직중', '895 명 재직중',
       '148 명 재직중', '203 명 재직중', '278 명 재직중', '76 명 재직중', '2,175 명 재직중'],
      dtype=object)

In [69]:
emp_df = []

for ww in df.사원수:
    if ww != '-':
        emp_df.append(int(''.join(re.findall('\d', ww))))
    else:
        emp_df.append(None)

In [72]:
df.사원수 = emp_df

array(['서울특별시 강남구 학동로82길 7 (삼성동,HYUN빌딩) 2층지도보기',
       '서울특별시 구로구 경인로 661 104동 905호 (신도림동,신도림1차푸르지오)지도보기',
       '경기 성남시 분당구 삼평동 판교우림더블유시티 703호 .지도보기',
       '서울특별시 강남구 테헤란로 427 6층 (삼성동,위워크타워)지도보기',
       '서울특별시 중구 남대문로7길 16 (소공동,소공 한국빌딩) 5층지도보기',
       '서울특별시 종로구 창경궁로 112-15 201호 (인의동,세일빌딩)지도보기', nan,
       '서울특별시 강남구 테헤란로20길 9 (역삼동,동궁빌딩) 13층지도보기',
       '서울특별시 용산구 한강대로 42 (한강로3가)지도보기',
       '서울특별시 강남구 테헤란로20길 20 삼정빌딩 3층 씨드로닉스 (역삼동)지도보기',
       '서울특별시 강남구 테헤란로2길 27 14층(역삼동,패스트파이브빌딩)지도보기',
       '강남구 논현1동 204-5번지 MJL빌딩 7층 4층 (방배동,한샘방배빌딩)지도보기',
       '경상남도 김해시 주촌면 골든루트로 80-16 1층 1호 (농소리,김해창업혁신센터)지도보기',
       '서울특별시 서초구 매헌로6길 15 4층 (양재동,두루빌딩)지도보기',
       '서울특별시 용산구 두텁바위로 21 5층 (갈월동,어니컴빌딩)지도보기',
       '서울 영등포구 영신로 220 1306호 (영등포동8가,KnK디지털타워)지도보기',
       '서울특별시 성동구 뚝섬로17가길 48 1007호 (성수동2가,성수에이원센터)지도보기',
       '서울특별시 강남구 선릉로93길 40 소셜벤처허브 3층 (역삼동)지도보기',
       '서울 마포구 독막로 79 1층 (상수동)지도보기', '경기 성남시 분당구 수내동 20-2 초림프라자 308호지도보기',
       '서울특별시 강남구 테헤란로7길 22 9층 (역삼동)지도보기',
       '서울특별시 구로구 디지털로 272 704호 (구로동,한신아이티타워)지도보기',
       '서울 송파구 백제고분로41길 40 401호 (송파동,부영빌딩)지도보기',
       '경기도 하남시 미사대로 540 (덕풍동,현대지식산업센터 한강미사2차(26BL)) B동 610호지도보기',
       '서울특별시 강남구 테헤란로 231 (역삼동,센터필드) EAST타워 28-35층지도보기',
       '서울특별시 성동구 아차산로 110 성수동2가 성광빌딩 4층 AFI지도보기',
       '서울특별시 성동구 아차산로 38 (성수동1가,개풍빌딩)지도보기', '경북 구미시 공단동 293번지지도보기',
       '서울특별시 강남구 학동로25길 37 (논현동)지도보기',
       '서울특별시 구로구 디지털로 242 1201호 (구로동,한화비즈메트로1차)지도보기',
       '경기 부천시 석천로 397 101동 1211호 (삼정동,부천테크노파크쌍용3차)지도보기',
       '서울특별시 강남구 학동로53길 30 (논현동)지도보기', '경기도 안양시 동안구 벌말로 112 (관양동)지도보기',
       '서울특별시 영등포구 당산로28길 4 (당산동3가) 송암빌딩 4층 이노버스지도보기',
       '경기도 군포시 엘에스로 153-18 4,5,6층 (산본동)지도보기',
       '경기도 성남시 분당구 성남대로 884-3 2층 (야탑동,가온미디어빌딩)지도보기',
       '서울특별시 강남구 강남대로 310 1008호 (역삼동,유니온센터)지도보기',
       '서울특별시 마포구 마포대로 137 6층 (공덕동,KPX빌딩)지도보기',
       '서울특별시 강남구 논현로26길 21 3층 (도곡동)지도보기',
       '경기도 성남시 수정구 청계산로 686 (고등동) 반도아이비밸리 818호지도보기',
       '서울특별시 강서구 마곡중앙로 150 (마곡동)지도보기',
       '대전광역시 유성구 대학로 179 2동 1층 (궁동,디-브리지 공유오피스)지도보기',
       '서울특별시 강남구 역삼1동 834-8번지 2층지도보기', '경기 수원시 팔달구 화서동 150-3 2층지도보기',
       '충청남도 아산시 음봉면 산동안길 14 1층 (산동리,씨-스테이션)지도보기',
       '서울특별시 강서구 마곡중앙8로1길 26 (마곡동,(주)캐스트윈마곡신사옥)지도보기',
       '서울특별시 강남구 선릉로 551 5층 (역삼동,새롬빌딩)지도보기',
       '경기도 성남시 수정구 위례서일로 6 201~203호 (창곡동)지도보기',
       '서울특별시 마포구 마포대로 122 16층 (공덕동,프론트원빌딩)지도보기',
       '서울특별시 강남구 테헤란로 133 (역삼동,한국타이어빌딩)지도보기',
       '서울특별시 금천구 벚꽃로 278 1012호 (가산동,에스제이테크노빌)지도보기',
       '경기도 성남시 분당구 판교로255번길 9-22 8층 (삼평동,우림더블유시티)지도보기',
       '서울 성동구 왕십리로 115 헤이그라운드 서울숲점 5층 지504호 (성수동1가)지도보기',
       '서울특별시 강남구 강남대로106길 29 2층 (역삼동,유니켐)지도보기',
       '서울특별시 중구 수표로 45 (저동2가,비즈센터) 608호지도보기',
       '서울특별시 강남구 테헤란로114길 16 2층 및 3층(대치동,동남빌딩)지도보기',
       '서울특별시 강남구 테헤란로 518 10층 (대치동,한국섬유산업연합회)지도보기',
       '경기도 성남시 분당구 운중로 123 501,502호(운중동)지도보기',
       '경기도 성남시 분당구 구미로 8 (구미동)지도보기',
       '서울특별시 서초구 강남대로 623 10층 (잠원동, 우일빌딩)지도보기',
       '서울특별시 영등포구 여의대로 108 (여의도동,파크원) 39층지도보기',
       '제주 제주시 이도이동 1176-67번지 제주벤처마루 4층 4층 제주벤처마루 (이도이동)지도보기',
       '서울특별시 강남구 삼성로85길 35-6 목천빌딩 2/3층지도보기',
       '서울특별시 종로구 대학로12길 50 6층 (동숭동,마로니빌딩)지도보기',
       '광주광역시 북구 동문대로 136 3층 (두암동)지도보기',
       '경기도 성남시 분당구 대왕판교로 670 B동 605호 (삼평동,유스페이스2)지도보기',
       '충청남도 천안시 서북구 불당14로 48 5층 (불당동)지도보기',
       '서울특별시 서초구 강남대로37길 56-18 (서초동,서초에메랄드빌딩) 4F지도보기',
       '광주광역시 동구 금남로 193-22 광주AI창업캠프 1호 202호(금남로4가)지도보기',
       '서울특별시 강동구 천호대로 995 제3층1호, 제4층1호 (천호동,금복빌딩)지도보기',
       '서울 동대문구 천호대로 64 (용두동)지도보기',
       '서울특별시 강남구 선릉로99길 9 2층 (역삼동,영성빌딩)지도보기',
       '서울특별시 강남구 학동로6길 7 301호(논현동)지도보기',
       '서울특별시 구로구 디지털로26길 123 407,408호 (구로동,지플러스타워)지도보기',
       '서울특별시 마포구 동교로23길 41 3층 (동교동,골드빌딩)지도보기',
       '경기도 광주시 태전중앙로 20 (태전동,스카이가든) 3층 더그레이스 의원지도보기',
       '서울특별시 용산구 한강대로44길 16 (한강로2가) 잉카엔트웍스지도보기',
       '경기 성남시 중원구 사기막골로62번길 37 1207호 (상대원동,스타타워)지도보기',
       '서울특별시 성동구 왕십리로 88 4층 (성수동1가,덕우빌딩)지도보기',
       '서울특별시 강남구 테헤란로43길 18 4층 (역삼동,에스씨빌딩)지도보기',
       '서울특별시 강남구 선릉로145길 13 202호 (논현동,럭스웨이빌딩)지도보기',
       '서울특별시 강남구 역삼로63길 19 4층 (대치동,우희빌딩)지도보기',
       '서울특별시 강남구 도산대로 156 5층 (논현동)지도보기',
       '서울특별시 강남구 논현로 417 (역삼동,화원빌딩) 2층지도보기',
       '서울특별시 종로구 청계천로 11 (서린동)지도보기',
       '충청북도 청주시 흥덕구 가로수로 1251 301-1호 (복대동,충북대학교 G-테크벤처센터)지도보기',
       '서울특별시 강남구 봉은사로 479 11층 (삼성동)지도보기',
       '서울특별시 강남구 압구정로 148 (신사동, 머스트잇빌딩)지도보기',
       '서울 서초구 바우뫼로 152 501호 (양재동,삼정빌딩)지도보기',
       '서울 금천구 범안로 1126 1307호 (가산동,대륭21차)지도보기',
       '서울 강남구 테헤란로 152 13층 (역삼동,강남파이낸스센터)지도보기',
       '서울특별시 서초구 서초대로78길 22 11층 (서초동,홍우제2빌딩)지도보기',
       '서울특별시 마포구 월드컵북로 40 (연남동,SPACE 1) 3층지도보기',
       '서울특별시 구로구 디지털로32길 30 906호 (구로동,코오롱디지털타워빌란트)지도보기',
       '충청남도 보령시 주포면 관산공단길 26 (주포면,주식회사 에이지)지도보기',
       '서울 강남구 언주로81길 13 5층지도보기', '서울특별시 강남구 봉은사로 644 대웅제약 신관3층지도보기',
       '서울특별시 구로구 디지털로 272 (구로동,한신아이티타워) 411호지도보기',
       '경기도 군포시 공단로 149 408호 (당동, 아이밸리군포)지도보기',
       '서울특별시 금천구 독산로31길 9 빅픽처인터렉티브지도보기',
       '경기도 안양시 동안구 흥안대로 61-1 지층 (호계동)지도보기',
       '울산광역시 울주군 언양읍 유니스트길 50 114동 606-9호(유니스트 경영관) (반연리)지도보기',
       '경기도 부천시 조마루로385번길 92 (원미동,부천테크노밸리 U1 center)지도보기',
       '서울 송파구 송파동 167-1 수성빌딩지도보기', '서울특별시 강남구 테헤란로 216 근무지 파주지도보기',
       '서울특별시 강남구 테헤란로84길 15 4층, 10층 (대치동,시몬타워)지도보기',
       '서울특별시 중구 퇴계로36길 2, 충무로관 신관 201호 (필동2가,동국대학교)지도보기',
       '경기도 성남시 중원구 둔촌대로 464 10층 1004호 (상대원동,드림테크노)지도보기',
       '서울특별시 송파구 올림픽로 300 36층(신천동)지도보기',
       '서울특별시 강남구 논현로85길 46 (역삼동) 메가존빌딩 11층지도보기',
       '서울특별시 강남구 강남대로94길 18 3층 301호 (역삼동,삼행빌딩)지도보기',
       '서울특별시 서초구 바우뫼로37길 23-6 (양재동,태홍빌딩) 3층지도보기',
       '서울특별시 서초구 반포대로9길 7 (서초동,서초미래빌딩) 3층 어밸브지도보기',
       '강원 홍천군 홍천읍 생명과학관길 84 (연봉리)101지도보기',
       '서울특별시 영등포구 당산로37길 16 (당산동4가,씨에스로직스복합시설), 3층지도보기',
       '서울특별시 강남구 강남대로 354 7층 707호 (역삼동,혜천빌딩)지도보기',
       '서울특별시 성동구 뚝섬로1길 63 (성수동1가,영창디지털타워) 11층지도보기',
       '경기도 성남시 수정구 대왕판교로 815 (시흥동,판교창조경제밸리 기업지원허브)지도보기',
       '서울특별시 관악구 관악로 217 3F 프리윌린(봉천동,동진빌딩)지도보기',
       '서울특별시 송파구 법원로9길 26 에이치비지니스파크 씨동 1011호, 1012호, 1013호, 1014호, 1015호 (문정동)지도보기',
       '서울특별시 강남구 테헤란로 309 5층 (역삼동,삼성제일빌딩)지도보기',
       '경기도 성남시 분당구 판교로 253 C동 404호 (삼평동,판교이노밸리)지도보기',
       '서울 관악구 보라매로3길 23 (봉천동,대교타워)지도보기',
       '서울특별시 영등포구 영신로 220 (영등포동8가)지도보기',
       '서울 강서구 염창동   우림블루나인 B동 608호 에이지엘지도보기',
       '경기도 고양시 일산동구 일산로 138 일산테크노타운지도보기',
       '경기도 성남시 분당구 대왕판교로 660 (삼평동,유스페이스1) B동 901호지도보기',
       '충남 천안시 서북구 3공단1로 96 (차암동)지도보기',
       '경상남도 김해시 생림면 마사로 20-45 (생철리)지도보기',
       '서울특별시 강남구 학동로 343 14층 에코마케팅 (논현동, 더피나클강남)지도보기',
       '서울특별시 중구 통일로 10 1706호 (남대문로5가,연세대학교 세브란스빌딩 플래그원)지도보기',
       '서울특별시 강남구 테헤란로 242 패스트파이브 선릉2호점 12층지도보기',
       '서울특별시 금천구 가산디지털1로 146 403호(가산동, 가산대륭22차)지도보기',
       '서울 강남구 테헤란로 207 14층 (역삼동,아가방빌딩)지도보기',
       '경기도 성남시 분당구 판교로319번길 6 한화테크윈(삼평동)지도보기',
       '서울특별시 강남구 선릉로 820 2층 201호(청담동,남한강빌딩)지도보기',
       '경기도 성남시 분당구 대왕판교로 660 A동 405호 (삼평동,유스페이스1)지도보기',
       '서울특별시 서초구 사평대로55길 33 301호 (반포동,진석빌딩)지도보기',
       '경기도 안양시 동안구 시민대로327번길 11-41 307호 (관양동)지도보기',
       '서울특별시 중구 을지로 55 (을지로2가,하나은행별관빌딩) 교원명동빌딩 5층지도보기',
       '서울특별시 강남구 광평로 281 12층 1501호 (수서동,수서빌딩)지도보기',
       '경기도 포천시 가산면 가산로96번길 44-1 네이처프라임지도보기',
       '서울특별시 영등포구 여의대로 108 43, 44층(여의도동,파크원)지도보기',
       '서울특별시 강남구 테헤란로2길 27 패스트파이브 강남5호점지도보기',
       '서울 송파구 법원로9길 26 D동 6층 (문정동,에이치비지니스파크)지도보기',
       '서울특별시 강남구 테헤란로4길 38 8층 801호 (역삼동,태영빌딩)지도보기',
       '서울 금천구 디지털로9길 68 401호지도보기',
       '서울특별시 영등포구 국제금융로8길 2 14층 (여의도동,농협재단빌딩)지도보기',
       '서울특별시 성동구 왕십리로 58 (성수동1가,FORHU) 418호지도보기',
       '서울특별시 마포구 양화로 81 L1층 L105호(패스트파이브 합정점)지도보기',
       '서울특별시 영등포구 의사당대로 3 (여의도동)지도보기', '전라남도 순천시 별미길 27-1 (남내동)지도보기',
       '경기도 부천시 조마루로385번길 92 1208호 (원미동,부천테크노밸리 유1센터)지도보기',
       '서울특별시 영등포구 여의대로 24 FKI 45층(여의도동,전국경제인연합회회관)지도보기',
       '서울특별시 금천구 가산디지털1로 131 A동 22층 (가산동,비와이씨하이시티빌딩)지도보기',
       '서울특별시 강남구 선릉로 578 (삼성동,태정빌딩 6층)지도보기',
       '서울특별시 강남구 강남대로162길 20 3층지도보기',
       '서울특별시 종로구 새문안로3길 12 4층 (신문로1가,신문로빌딩)지도보기'], dtype=object)

In [101]:
# 주소 시 도 구 구분

df.주소.fillna(2)

address_list = []

for ee in df.주소:
    try:    
        if '경기' in ee and '경기도' not in ee:
            ee = re.sub('경기', '경기도', ee)
        elif '서울' in ee and '서울특별시' not in ee:
             ee = re.sub('서울', '서울특별시', ee)
        elif '강남구' in ee and '서울특별시' not in ee and '서울' not in ee:
            ee = re.sub('강남구', '서울특별시 강남구', ee)
    except:
        ee = 0

        
    address_list.append(ee)

add_list = []
for tt in address_list:
    if tt != 0:
        add_list.append(' '.join(re.findall(r'\b(\w+[구시도])\b', tt)))
    else:
        add_list.append(None)

df.주소 = add_list

In [133]:
# URL 앞에 // 제거

df['기업 홈페이지 URL'] = df['기업 홈페이지 URL'].apply(lambda x: str(x)[2:])
df.loc[df['기업 홈페이지 URL'] == 'n', '기업 홈페이지 URL'] = None

In [141]:
df.to_csv('wanted_incruit_handle.csv')